node_modules
release-backend.sh
release-frontend.sh
resources/js
public
storage/framework/cache/data
!storage/framework/cache/data/.gitignore
storage/framework/cache/sessions
!storage/framework/cache/sessions/.gitignore
storage/framework/cache/views
!storage/framework/cache/views/.gitignore
storage/framework/logs
!storage/framework/logs/.gitignore
